.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  margin-top: 20px;
  border: 3px solid rgba(37, 37, 37, 0.726);
  border-radius: 10px;
  width: 90vw;
  min-width: 350px;
  min-height: 500px;
  max-width: 1050px;
  height: 50vh;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

